<!-- index.html -->
    <!DOCTYPE html>
    <html lang="en">
    <head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- Basic page information -->
	    <title>Sentient Dev. Test</title>
		<meta name="description" content="">
		<meta name="author" content="Peter DHaiti">
	    
	    <!-- For Social Sharing -->
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:image" content="" />
		<meta property="og:type" content="website">
		<meta property="og:url" content="">

	    <!-- Fav Icon -->
	    <link rel="icon" type="image/x-icon" href="" /> <title></title>

	    <!-- Control how your data display on twitter -->
	    <meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">

		<!-- for google plus -->
		<link rel=”publisher” href=”https://plus.google.com/your-google-plus-ID”>

	    <!-- AMP - Accelerated Mobile Pages for seo purposes -->
	    <!-- <link rel="amphtml" href="amp/" /> -->

	    <!-- SCROLLS -->
	    <!-- load css and fontawesome-->	    
	    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
		<link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.9/font-awesome-animation.min.css'>
	    <link rel="stylesheet" href="css/style.css" />
	         
    </head>
    <body>

        <!-- NAVBAR -->
        <nav class="navbar navbar-fixed-top navbar-inverse">
        	<div id="myNav" class="overlay">
	           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				  <ul class="overlay-content">
				  	<li><a href="#home">Home</a></li>
				    <li><a href="#home">New Jersey Images</a></li>
				  </ul>	  			
			</div>

			<div class="container-fluid">
				<div class="row">
					  <div class="col-xs-1">
					  		<span class="cursor" onclick="openNav()">&#9776;</span>
					  </div>
				</div>
			</div>
        </nav>
        <!-- SLIDE SHOW HEADER-->
        <header id="home">
         	<div id="myCarousel" class="carousel slide" data-ride="carousel">
			    <!-- Indicators -->
			    <ol class="carousel-indicators">
			      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			      <li data-target="#myCarousel" data-slide-to="1"></li>
			      <li data-target="#myCarousel" data-slide-to="2"></li>
			    </ol>

			    <!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">
			      <div class="item active">
			        <img src="img/Jersey_City_Skyline_Jan_2006.jpg" alt="Skyscrapers in Jersey City"  class="img-responsive">
			        <div class="carousel-caption">
			          <h1>Skyscrapers in Jersey City</h1>
			          <h2>One of the most ethnically diverse cities in the world</h2>
			        </div>
			      </div>

			      <div class="item">
			        <img src="img/1280px-New_Meadowlands_Stadium_Mezz_Corner.jpg" alt="MetLife Stadium in East Rutherford" class="img-responsive">
			        <div class="carousel-caption">
			          <h1>MetLife Stadium in East Rutherford</h1>
			          <h2>Home to the NFL's New York Giants and New York Jets</h2>
			        </div>
			      </div>
			    
			      <div class="item">
			        <img src="img/Newark_October_2016_001.jpg" alt="Newark, NJ" class="img-responsive">
			        <div class="carousel-caption">
			          <h1>Newark, NJ</h1>
			        </div>
			      </div>
				  <a href="#photo" class="page-scroll"><i class="fa fa-chevron-down fa-chevron-down faa-vertical animated" style="font-size:48px;color:red"></i> </a>
				 </div>
				 
				    <!-- Left and right controls -->
				     <!-- Controls -->
				  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
				    <span class="icon-prev"></span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" data-slide="next">
				    <span class="icon-next"></span>
				  </a>  
			</div>
        </header>

        <!-- SECTION AND INJECTED VIEW -->

        <section ng-app='wikiModul' id="photo">
        	<div class="container" ng-controller='WikiController as wiki' ng-init='wiki.searchWikipedia(wiki.searchTerm)'  ng-cloak>
	        	<header class="text-center">
	        		<h1 class="text-capitalize">Current images on the New Jersey Wikipedia page</h1>
	        		<hr class="">
	        	</header>
	        	<div class="row text-center">
		        	<article class="col-md-12">
		        		<form>
						  <input ng-model='wiki.searchTerm' ng-change='wiki.searchWikipedia(wiki.searchTerm)' class="form-control" type="text" name="search">
						</form>
						<p> {{wiki.error}}</p>
		        	</article>
		        </div>
		        	<!-- The Result -->
		        <div class="row">
		        	<article class="col-md-4" ng-repeat="page in wiki.results" class="clearfix">  
		                <div ng-if="page.thumbnail.source != null">
		                    <div class="col-md-4">
		                    {{page.revisions[0].user}}
		                    <img ng-src="{{page.thumbnail.source}}" alt="{{page.title}}" class="img-thumbnail img-rounded img-responsive" ng-show="page.thumbnail.source">
		                 	</div> 
		                </div>
		            </article>

	        	</div> <!-- End row -->
        	</div> <!-- End container -->
        </section>

        <!-- FOOTER-->
        <footer class="text-center">
		     <div class="row text-center">
			    	<a href="#home">
			      		<div class="col-xs-12 fa fa-caret-up faa-bounce animated aria-hidden='true'"></div>
			      	</a>
			 </div>
		  <p>Sentient Dev. Test By <a href="http://dhaiti.pro/" data-toggle="tooltip" title="Peter DHaiti's Portfolio">Peter DHaiti</a></p>
		</footer>

		<!-- load JS Files: on this 1 js file, I have shrunk bootstrap, jQuery and my js files in 1 js file for faster delivery. 
	     -->	    
	    <script type="text/javascript" src="js/sentient.js"></script>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
	    <script type="text/javascript" src="angular/app.js"></script>
    </body>
    </html>